/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --bg-color: #f0f2f5;
  --card-color: #ffffff;
  --primary-color: #4a90e2;
  --primary-hover: #357ab8;
  --text-color: #333333;
  --placeholder-color: #888888;
}


/* Fondo general */
body {
  background: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MAIN centrado */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}

/* Caja de registro */
.check-in-area {
  background: #fff;
  padding: 40px 35px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Título */
.titulo-logo h2 {
  font-size: 28px;
  margin-bottom: 25px;
 color: var(--primary-color);
}

/* Formulario */
.check-in-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Input con icono */
.check-in-form label {
  position: absolute;
  margin: 12px 0 0 12px;
  color: #888;
}

.check-in-form input {
  width: 100%;
  padding: 12px 12px 12px 38px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.3s ease;
}

.check-in-form input:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 6px rgba(102, 126, 234, 0.4);
}

/* Botón */
.check-in-form button {
  background: var(--primary-color);
  color: #fff;
  padding: 0.9rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

.check-in-form button:hover {
  background: var(--primary-hover);
}

/* Link volver */
.register-btn {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  color: #667eea;
  text-decoration: none;
  transition: 0.3s;
}

.register-btn:hover {
  color: #764ba2;
}

/* Footer */
.footer {
  background: #fff;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.footer p {
  font-size: 14px;
  color: #666;
}
